# non-standard config
/.vscode/

# deps
/node_modules/

# compiled TS files
/out/

# data & stuff
/data/*/*
!/data/*/.gitkeep
/etc/*
!/etc/.gitkeep
/logs/*
!/logs/.gitkeep

# tests & tmp
/coverage/
/tmp/
/tests/dbg/

# env & docker
.env*
!.env-example
docker-compose.override*.yml