[Unit]
Description=starc Redis main
After=network.target

[Service]
Type=notify
WorkingDirectory=/home/sc2arcade/server
ExecStart=/usr/bin/redis-server /home/sc2arcade/server/etc/redis/redis-main.conf
ExecStop=/usr/bin/redis-cli shutdown
User=sc2arcade
TimeoutStartSec=60
TimeoutStopSec=60
RuntimeDirectory=starc-redis-main
RuntimeDirectoryMode=755

[Install]
WantedBy=multi-user.target
