[Unit]
Description=starc Discord Bot
Wants=network-online.target mariadb.service
Requires=mariadb.service
After=network-online.target mariadb.service
PartOf=mariadb.service
StartLimitIntervalSec=900
StartLimitBurst=25

[Service]
Type=notify
NotifyAccess=all
WorkingDirectory=/home/sc2arcade/server
Environment="LOG_LEVEL=ERROR"
ExecStart=/usr/bin/node /home/sc2arcade/server/out/src/bin/dsbot.js
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
User=sc2arcade
TimeoutStartSec=20s
TimeoutStopSec=10s
RestartSec=10s
WatchdogSec=60s
FinalKillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
